body {
  background-color: #e2efff;
}
hr {
  border: 1px solid #d1d1d1;
  margin: 19px 24px 0px 24px;
}

/* top players */

.container {
  background-color: white;
  width: 870px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9px;
  display: grid;
  align-items: center;
  border-radius: 10px;
}
.course-container {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2827cc;
  font-size: 24px;
  font-weight: 600;
}
.top-players {
  margin-left: 24px;
  margin-top: 13px;
}
.top-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  background-color: rgb(243, 230, 255);
  border-radius: 50px;
  height: 67px;
  width: 260px;
  box-shadow: 0px 0px 8px rgb(170, 170, 182);
}
.player:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.player img {
  width: 56px;
  height: 56px;
  margin-top: 5.5px;
  margin-left: 7px;
}
.player h3 {
  margin-left: 16px;
}

/* Top Blogs */

.top-blogs {
  margin-left: 24px;
  margin-bottom: 14px;
}
.top-blogs h2 {
  margin: 30px 0px;
}
.top-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blogs {
  display: flex;
  box-shadow: 0px 0px 5px rgb(170, 160, 160);
  width: 404px;
  border-radius: 11px;
  position: relative;
  top: 0px;
  transition: top 0.4s;
}
.blogs:hover {
  top: -10px;
}
.blog-detail {
  margin-left: 16px;
  position: relative;
  bottom: 5px;
}

.blog-thumbnail img {
  width: 177px;
  height: 117px;
  position: relative;
  top: 4px;
  left: 4px;
}
.blog-title {
  font-size: 18px;
}
.blog-author {
  font-size: 14px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  color: #2827cc;
}

/* Latest Courses */

.latest-courses {
  margin-left: 24px;
  margin-bottom: 14px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.course {
  /* background-color: rgb(97, 83, 83); */
  border-radius: 20px;
  width: 259.42px;
  height: 269.79px;
  box-shadow: 3px 3px 8px rgb(204, 204, 226);
}
.course:hover {
  transform: scale(1.08);
  transition: transform 0.5s;
}
.course-thumbnail img {
  position: relative;
  left: 10px;
  top: 9px;
  width: 239px;
  height: 116px;
}
.course-title {
  margin: 10px;
  font-size: 21px;
}
.course-author {
  margin: 10px;
  color: #ed6b4f;
  font-size: 14px;
}
.course-info {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.rate {
  position: relative;
  top: 2px;
  font-size: 13px;
  color: #a2a2a2;
}
.fas {
  color: #ffc014;
  font-size: 12px;
}
.course-duration {
  background-color: #ffe4e8;
  width: 78px;
  padding-left: 7px;
  border-radius: 39px;
  padding-right: 6px;
}
.far.fa-clock {
  color: #ff4a60;
}
.duration {
  color: #ff4a60;
  margin-left: 5px;
}
footer {
  background-color: #5da3fa;
  height: 42px;
}
footer h3 {
  text-align: center;
  margin: 15px;
  position: relative;
  bottom: -7px;
  color: white;
}
.myname {
  margin-left: 7px;
  font-weight: 400;
}

/* For Mobile Phone */

@media screen and (max-width: 767px) {
  body {
    margin: 0px;
    width: 100%;
  }
  .container {
    width: 95%;
    margin-top: 72px;
  }
  .course-container {
    margin-top: 14px;
  }
  .top-players {
    margin-left: 55px;
  }
  .top-player {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .player {
    transform: scale(0.6);
    margin: 0px;
  } */
  .top-blogs {
    width: 348px;
  }
  .top-blog {
    grid-template-columns: repeat(1, 1fr);
    transform: scale(0.83);
    position: relative;
    left: -36px;
    top: -52px;
    margin-bottom: -103px;
  }
  .latest-courses {
    margin-bottom: 230px;
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
    transform: scale(1.28);
    position: relative;
    top: 114px;
    left: 32px;
    width: 266px;
  }
  .course {
    margin-bottom: 17px;
  }
}
